/* You can add global styles to this file, and also import other style files */
body {
  background-color: #F7F7F7;
  margin: 0 auto;
  .flex-self {
    display:flex;
  }
  .flex-horizontal {
    flex-direction: row;
  }
  .horizontal-margin {
    margin: 0 10px;
  }
  .pointer {
    cursor: pointer;
  }
}
