
<footer class="footer" id="footer">
  <div class="container">
    <div class="row">
      <div class="iconsFoo">
        <div class="col-lg-3  col-md-2">
          <small class="iconFoo">
            <a href="tel:+37455522225"><img src="./assets/img/phone.jpg" class="imgSize img-fluid" alt=""></a>
            <a href="tel:+37455522225">+374 55 522225</a>
          </small>

        </div>
        <div class="col-lg-2 col-md-2 ">
          <small class="iconFoo">
            <a href="mailTo:info@payx.am" target="_blank"><img src="./assets/img/email.jpg" class="imgSize img-fluid" alt=""></a>
            <a href="mailTo:info@payx.am">info@payx.am</a>
          </small>
        </div>
        <div class="col-lg-2 col-md-2">
          <small class="iconFoo">
            <a href="https://www.linkedin.com/company/payx-payment-express/" target="_blank"><img src="./assets/img/linkedin_logo.jpg" class="imgSize img-fluid" alt=""></a>
            <a href="https://www.facebook.com/payx.am" target="_blank"><img src="./assets/img/fb_logo.jpg" class="imgSize img-fluid" alt=""></a>
          </small>
        </div>
      </div>
    </div>
  </div>
</footer>
