.background{
  position: fixed;
  display: block;
}
.asd {
  //background-color: rgba(16, 13, 13, 0.5);

}
.asd {


  //background-image: url("/assets/img/header_bg.jpg");
  //background-attachment: fixed;
  //height: 100%;
  //background-position: center;
  //background-size: cover;
  //background-repeat: no-repeat;
  div {
    //background: rgba(234, 197, 197, 0.5);
    background-image: url("/assets/img/header_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 42%;



  }

}
